/*  your css code here. If applicable */
body {
    margin: 0;
    padding: 0;
}

.nav-main {
    display: flex;
    width: 100vw;
    background-color: #6e072d;
    justify-content: space-between;
    color: white;
}

.nav-main ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.item {
    list-style-type: none;
    padding: 27px 18px;
    font-size: 18px;
    border: 2px solid white;
}

.item:hover {
    background-color: #b90e4d;
    cursor: pointer;
}

#item-3 {
    border: none;
}

#item-4 {
    border: none;
}